# ===== Visual Studio =====
.vs/
Debug/
Release/
x64/
ipch/
*.user
*.suo
*.VC.db
*.VC.opendb
*.vsidx
*.recipe
*.tlog
*.idb
*.ilk
*.pdb
*.log

# ===== C++ compilado =====
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.exe
*.out
*.app
*.a
*.lai
*.la
*.dwo

# ===== Varios =====
*.bak
*.swp
vcpkg_installed/
Testing/
.cache/
Thumbs.db
desktop.ini
